.btn-primary {
    display: block;
    padding: 8px 30px;
    color: #0070A0;
    transition: all .4s linear;
}

.btn-primary:hover {
    background-color: #0070A0;
    color: white;
}

.btn-secondary {
    display: block;
    padding: 8px 30px;
    background-color: #0070A0;
    color: white;
    transition: all .4s linear;
}

.btn-secondary:hover {
    background-color: #ffffff;
    color: #0070A0;
}
.list-style {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: start;
    gap: 5px;
    font-family: 'Fraunces', serif;
    width: 600px;
    min-height: 100px;
    border-top: 1px solid #0070A0;
    border-bottom: 1px solid #0070A0;
    margin: 2px 0;
    padding: 15px;
    transition: min-height 0.3s ease-in-out;
    overflow: hidden;
}
.list-style div{
    display: flex;
    width: 580px;
    justify-content: space-between;
}
.list-style::after {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.";
    display: block;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.list-style:hover {
    min-height: 150px;
}

.list-style:hover::after {
    max-height: 100px;
}

.custom-text {
    font-size: 24px;
    color: #1F1F1F;
    font-weight: 400;
}